.newsfeed-status {
  display: block;
  max-width: 614px;
  height: 119px;
  border-radius: 3px;
  margin-bottom: 24px;
  margin-top: 0;
  padding: 16px 0;
  border: 1px solid #efefef;
}

.slide-status {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 15px; */

  /* height: 122px; */
  padding: 0 4px;
  width: 80px;
  cursor: pointer;
}

.news-img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid #dbdbdb; */
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
  height: 66px;
  width: 66px;
  border-radius: 100%;
  padding: 0;

  /* margin-bottom: 8px;
  margin-top: 4px; */
}

.news-figures {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  border: 2px solid #dbdbdb;
}

.username-news {
  text-transform: capitalize;
  /* padding: 15px 0px 0px; */
  font-weight: 600;
  font-size: 12px;
  width: 74px;
  line-height: 18px;
  color: #262626;
  text-align: center;
}
