.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1920px;
  height: 3234px;
  background-color: #575757;
  position: fixed;
  left: 0;
  background: rgba(8, 7, 7, 0.3);
  z-index: 999;
}

.close-icon {
  display: flex;
  position: fixed;
  top: 18px;
  right: 16px;
  font-size: 18px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0 solid black;
  pointer-events: all;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 375px;
  min-width: 348px;
  min-height: 391px;
  max-height: 898px;
  height: 526px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  height: 43px;
  width: 100%;
  flex-grow: 1;
}

.modal-head {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  min-width: 0;
  text-align: center;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.image-content {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
}

.modal-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0 solid black;
  pointer-events: all;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 375px;
  min-width: 348px;
  min-height: 391px;
  max-height: 898px;
  height: 526px;
}

.modal-file {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin: -4px 0 -5px;
  margin-top: 16px;
  flex: 0 0 auto;
  width: 270.5px;
  height: 26px;
}

.modal-text {
  font-weight: 300;
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  flex: 0 0 auto;
  width: 175.117px;
  height: 38px;

  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.modal-btn {
  /* width: 167.117px; */
  width: 100%;
  height: 30px;

  background-color: #0095f6;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  width: 100%;
  line-height: 18px;
}

.custom-file-input {
  display: none;
}
